# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build/
dist/
.next/

# Runtime
*.log
*.pid
*.seed
*.pid.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Ignore LLM server environment file
everleaf-backend/llm-server/.env
everleaf-backend/llm-server/venv


# Temporary or malformed files
everleaf-frontend/Math.*
everleaf-frontend/numPages* 
everleaf-frontend/{ 